body {
    color: seashell;
    background-color: black;
    font-family: Helvetica;
}
.container {
    padding: 10px;
    display: flex;
    position: center;
   
}
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid; 
    font-size: 22px;
}
.logo {
    opacity: 0.9;
    max-height: 69px;
}
ul li {
    display: inline;
    text-decoration: underline;
    padding: 1px;
}
/* Main Image*/

.photo-overlay {
    display: flex;
    flex-wrap: wrap;
}
.mission {
    background: black;
    transform: translate(50%, -350%);
    min-width: 100%;
}
.bkg-img {
   height: 700px; 
}