body {
    color: seashell;
    background-color: black;
}
.container {
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 0.5px solid;
}
h1 {
    font-family: Helvetica;
    font-size: 22px;
    font-style: italic;
    opacity: 0.9;
}
ul li {
    display: inline;
    text-decoration: underline;
    padding: 1px;
}
/* Main Image*/

.photo-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.mission{
    flex-direction: row;
    background: black;
    position: relative;
    right:50%; 
    height: 100px;
    
}
.bkg-img {
   height: 700px; 
}